nav{
	margin-left: 50%;
}

footer {
	margin-left: 50%;	
}
.indent {
	margin-left: 1em;
}
table {
    border-collapse: collapse;
}
table, th, td {
   border: 1px solid black;
}
tr:nth-child(even) {
	background-color: #f2f2f2
}