<!DOCTYPE html>
<html>
<head>
	<title>Add Plan</title>
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'travel_buddy_app/css/style_dashboard.css'%}">
</head>
<body>
<nav>
	<a href="/travels">Home</a>
	<a href="">Logout</a>
</nav>
<h1>Add a Trip</h1>
<div>
	<form>
		<p>Destination: <input type="text" name="des_name"></p>
		<p>Description: <input type="text" name="desc"></p>
		<p>Travel Date From: <input type="date" name="from"></p>
		<p>Travel Date to: <input type="date" name="to"></p>
		<input type="Submit" value="Add" >
	</form>
</div>
</body>
</html>